#contact {
    background: #052026c7;
    -webkit-text-fill-color: white;
    min-height: auto;
    height: fit-content;
}

.emailWrapper {
    margin: 5em;

    justify-self: center;
    min-width: 400px;
    max-width: 1000px;
}

.emailAdress {
    text-align: center;
    -webkit-text-fill-color: #4397f4;
    animation: 3s ease-in 1s infinite reverse both running slidein;
}

@media (max-width: 767px) {
    .emailWrapper {
        margin: 1em;
        min-width: 300px;
    }
}
