#contact {
    background: #052026c7;
    -webkit-text-fill-color: white;
    min-height: auto;
    height: fit-content;
}

.formWrapper {
    margin: 5em;

    justify-self: center;
    min-width: 400px;
    max-width: 1000px;
}

@media (max-width: 767px) {
    .formWrapper {
        margin: 1em;
        min-width: 300px;
    }
}