#realisations {
    /*background: #6b016b;*/
    background: repeating-linear-gradient(45deg, #6b016bb0, #6b016b 10px, #000000 10px, #4e004e 100px);
    -webkit-text-fill-color: white;
    display: flow-root;
    min-height: auto;
    height: fit-content;
}

.centeredPlayer {
    text-align: center !important;
    margin-top: 2rem;
    margin-bottom: 2rem;
}