#description {
    background: black;
    -webkit-text-fill-color: white;
    display: grid;
}

.container {
    display: inline-flex;
}

.imageCol {
    padding: 1em;
    width: 30%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.imageCol img {
    min-width: 200px;
}

.textCol {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
